test
sdp_extractor
sdp_tests
*.o
*.a
built-in.supp
tags
.vs/*
Debug/*
SDP Parser.VC.opendb
SDP Parser.sdf
SDP Parser.vcxproj.filters
SDP Parser.VC.VC.opendb
SDP Parser.VC.db
SDP Parser.vcxproj.user
ipch/
x64/*
